[submodule "vendor/extensions/link_roll"]
	path = vendor/extensions/link_roll
	url = git://github.com/p8/radiant-link-roll-extension.git
[submodule "vendor/extensions/ray"]
	path = vendor/extensions/ray
	url = git://github.com/johnmuhl/radiant-ray-extension.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/radiant"]
	path = vendor/radiant
	url = git://github.com/radiant/radiant.git
[submodule "vendor/extensions/news"]
	path = vendor/extensions/news
	url = git://github.com/klcompt/radiant-news-extension.git
