<?xml version="1.0" encoding="ISO-8859-1"?>
<General_Properties>
  <imagesXML value="/dockmenu/images.xml" />
        <direction value="horizontal" />
        <minThumbWidth value="85" />
        <minThumbHeight value="60" />
        <maxThumbWidth value="115" />
        <maxThumbHeight value="90" />
        <spacing value="5" />
        <expandingDirection value="center" />
        <imagesEasingSpeed value="70" />
        <imagesInfluence value="200" />
        <!-- <backgroundColor value="0xeeeeee" /> -->
        <!-- <backgroundColor value="0x51719B" /> -->
        <backgroundColor value="0" />
        <dockWidth value="510" />
        <dockHeight value="200" />
		<startingPixel value="0" />
		<gotoStartingPixelOnRollOut value="false" />
</General_Properties>
<Scrolling_Properties>
        <scrollSpeed value="35" />
        <smoothScrolling value="true" />
        <autoScroll value="false" />
        <autoScrollSpeed value="10" />
        <onScrollEnd value="goBackwards" />
</Scrolling_Properties>
<Reflection_Properties>
        <useReflection value="true" />
        <reflectionAlpha value="30" />
        <reflectionSpread value="30" />
        <reflectionDistance value="1" />
</Reflection_Properties>
<Roll_Over_Properties>
        <rollOverBehavior value="smooth" />
        <brightnessOver value="25" />
        <brightnessOut value="-25" />
        <brightnessSpeed value="7" />
</Roll_Over_Properties>
<Tooltip_Properties>
        <position value="bottom" />
        <appearance value="center" />
        <backColor value="0xffffee" />
        <backAlpha value="100" />
        <cornerRadius value="3" />
        <easingFunction value="Regular" />
        <easingDuration value="0.5" />
        <fontFace value="Verdana" />
        <fontSize value="12" />
        <fontColor value="0x333333" />
</Tooltip_Properties>
